body {
background-color: #2b2b2b;
font-family: 'Silkscreen';
color: #ffffff;
text-align: left;
margin-left: auto;
margin-right: auto;
max-width: 60%;
top: 50%;
transform: translateY(-50%);
}

h2 {
	text-align: center;
	color: #56ff00;

}

p {
	color: #00d2ff;
}

a {
	color: #ff00ff;
}

img {
	float: right;
}
